body{
    background-color: yellowgreen;

    color: black;
}
h1 {
    color: aliceblue;
    font-family: "Playfair Display", serif;
    font-weight: bold
}

p{
    font-family: "Poppins", serif;
    font-weight: normal;
}